docs/n8n-workflows/Retomar Conversacion.json
{
  "updatedAt": "2026-06-30T02:37:05.409Z",
  "createdAt": "2026-06-30T00:25:25.007Z",
  "id": "96XfJZcwvlHnVJLko3G8-",
  "name": "Retomar Conversacion",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proactive-wa-message",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "89e98f31-87a2-44f9-aec6-26f27f48b9e6",
      "name": "Webhook",
      "webhookId": "afd2b47d-bd99-4525-93a6-42764b8f56df"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO n8n_chat_histories (session_id, message)\nVALUES ($1, $2::jsonb)",
        "options": {
          "queryReplacement": "={{ $json.body.session_id }}\n{{ JSON.stringify({type: \"ai\", content: $json.body.message, tool_calls: [], additional_kwargs: {}, response_metadata: {}, invalid_tool_calls: []}) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "15704489-9b47-42b8-a203-0e669a244b95",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "FbodkhT9DijVcqpB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1028815256982638",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.phone_number }}",
        "textBody": "=  {{ $('Webhook').item.json.body.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "d72eb2f2-071a-4f88-be24-8598de079f34",
      "name": "Send message",
      "webhookId": "fd3be604-82e2-4806-89fa-ffc8f7b01969",
      "credentials": {
        "whatsAppApi": {
          "id": "PbzXr53disA74eew",
          "name": "WhatsApp Send Message Hylant Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c9bb3cf0-0029-4a29-9cff-918c59eff04b",
  "activeVersionId": "c9bb3cf0-0029-4a29-9cff-918c59eff04b",
  "versionCounter": 44,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-30T00:25:25.010Z",
      "createdAt": "2026-06-30T00:25:25.010Z",
      "role": "workflow:owner",
      "workflowId": "96XfJZcwvlHnVJLko3G8-",
      "projectId": "uC1nZ2QEo2QS2uIO",
      "project": {
        "updatedAt": "2026-02-02T21:29:10.520Z",
        "createdAt": "2026-02-02T21:24:28.222Z",
        "id": "uC1nZ2QEo2QS2uIO",
        "name": "Aguayo Aguayo <alfred@aguayo.co>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
        "projectRelations": [
          {
            "updatedAt": "2026-02-02T21:24:28.223Z",
            "createdAt": "2026-02-02T21:24:28.223Z",
            "userId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
            "projectId": "uC1nZ2QEo2QS2uIO",
            "user": {
              "updatedAt": "2026-06-30T06:05:53.000Z",
              "createdAt": "2026-02-02T21:24:27.725Z",
              "id": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
              "email": "alfred@aguayo.co",
              "firstName": "Aguayo",
              "lastName": "Aguayo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-02T21:29:38.817Z",
                "personalization_survey_n8n_version": "2.6.3",
                "companySize": "20-99",
                "companyType": "digital-agency",
                "role": "business-owner",
                "reportedSource": "google"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "CPcP1m8sURQIOAGgCN8s0",
                "userActivatedAt": 1770237790513,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770579287756
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-30",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-30T02:37:10.000Z",
    "createdAt": "2026-06-30T02:36:17.643Z",
    "versionId": "c9bb3cf0-0029-4a29-9cff-918c59eff04b",
    "workflowId": "96XfJZcwvlHnVJLko3G8-",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "proactive-wa-message",
          "responseMode": "lastNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "89e98f31-87a2-44f9-aec6-26f27f48b9e6",
        "name": "Webhook",
        "webhookId": "afd2b47d-bd99-4525-93a6-42764b8f56df"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO n8n_chat_histories (session_id, message)\nVALUES ($1, $2::jsonb)",
          "options": {
            "queryReplacement": "={{ $json.body.session_id }}\n{{ JSON.stringify({type: \"ai\", content: $json.body.message, tool_calls: [], additional_kwargs: {}, response_metadata: {}, invalid_tool_calls: []}) }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          0
        ],
        "id": "15704489-9b47-42b8-a203-0e669a244b95",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "FbodkhT9DijVcqpB",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "=1028815256982638",
          "recipientPhoneNumber": "={{ $('Webhook').item.json.body.phone_number }}",
          "textBody": "=  {{ $('Webhook').item.json.body.message }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          416,
          0
        ],
        "id": "d72eb2f2-071a-4f88-be24-8598de079f34",
        "name": "Send message",
        "webhookId": "fd3be604-82e2-4806-89fa-ffc8f7b01969",
        "credentials": {
          "whatsAppApi": {
            "id": "PbzXr53disA74eew",
            "name": "WhatsApp Send Message Hylant Account"
          }
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Send message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Aguayo Aguayo",
    "name": "Version c9bb3cf0",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-30T02:37:10.847Z",
        "id": 82,
        "workflowId": "96XfJZcwvlHnVJLko3G8-",
        "versionId": "c9bb3cf0-0029-4a29-9cff-918c59eff04b",
        "event": "activated",
        "userId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1"
      }
    ]
  }
}
