docs/n8n-workflows/WhatsApp Insurance Quotation Bot - Payment Confirmation.json
{
  "name": "WhatsApp Insurance Quotation Bot - Payment Confirmation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-confirmation",
        "authentication": "headerAuth",
        "options": {
          "responseCode": {
            "values": {}
          },
          "responseData": "={\n      \"status\": \"received\",\n      \"timestamp\": \"{{ $now.toISO() }}\"\n    }",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3fdb2851-71cb-4e93-9c39-40f63d9f0259",
      "name": "Payment Webhook Trigger",
      "webhookId": "8f82eb47-607f-40ef-8389-ee99bd93e3fd",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VNlbUSCkIzgHFhLc",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Minimal validation + message formatting\nconst data = $input.first().json;\n\n\n// Normalize Mexican mobile phone number (critical for WhatsApp)\nlet phoneNumber = data.body.phone_number.toString().replace(/\\D/g, ''); // Clean non-digits\n\n// If 13 digits starting with 521 (Mexican mobile with \"1\"), remove the \"1\"\nif (phoneNumber.startsWith('521') && phoneNumber.length === 13) {\n  phoneNumber = '52' + phoneNumber.substring(3); // \"5215551457890\" → \"525551457890\"\n}\n\n// If 10 digits (no country code), add Mexico code\nif (phoneNumber.length === 10) {\n  phoneNumber = '52' + phoneNumber; // \"5563125678\" → \"525563125678\"\n}\n\n// Format amount as Mexican Pesos\nconst formattedAmount = new Intl.NumberFormat('es-MX', {\n  style: 'currency',\n  currency: 'MXN'\n}).format(data.body.amount);\n\n// Build WhatsApp message (Spanish, formal tone)\nconst message = `¡Estimado cliente!\n\nSu pago ha sido confirmado exitosamente. ✅\n\n📋 *Póliza:* ${data.body.policy_number}\n💵 *Monto:* ${formattedAmount}\n📅 *Estado:* Activa\n\nGracias por confiar en nosotros. Su póliza ya está vigente y lo protege a partir de este momento.\n\nSi tiene alguna duda o requiere asistencia, no dude en contactarnos.\n\nAtentamente,\n_Equipo de Atención al Cliente_`;\n\n// Return formatted data for WhatsApp node\nreturn {\n  json: {\n    to: phoneNumber,\n    message: message,\n    policy_number: data.body.policy_number,\n    amount: formattedAmount,\n    transaction_id: data.transaction_id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "fc649ca7-cfae-4737-bfa1-272e60fb28f4",
      "name": "Format & Validate Message"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1028815256982638",
        "recipientPhoneNumber": "={{ $json.to }}",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "6c8f0731-0222-47f5-b868-5844c0ee8c58",
      "name": "Send message",
      "webhookId": "7bb2de5b-40ff-48c0-8e98-5507e5d36040",
      "credentials": {
        "whatsAppApi": {
          "id": "PbzXr53disA74eew",
          "name": "WhatsApp Send Message Hylant Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE whatsapp_sessions\nSET conversation_phase = 'completed', updated_at = NOW()\nWHERE phone_number = $1\nRETURNING session_id, phone_number, conversation_phase;",
        "options": {
          "queryReplacement": "={{ $json.to }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "04cffbeb-9a62-4eb5-8e0f-f7e7d6f2650e",
      "name": " Mark Session Completed",
      "credentials": {
        "postgres": {
          "id": "FbodkhT9DijVcqpB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const formattedData = $('Format & Validate Message').first().json;\nconst dbResult = $input.first().json;\n\nconsole.log('W2: session marked completed', {\n  sessionId: dbResult.session_id,\n  phone: formattedData.to,\n  phase: dbResult.conversation_phase\n});\n\nreturn [{ json: formattedData }]; // Restore full formatted message for Send WhatsApp Message"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "20eb65d3-89e6-4e31-b674-d833c6e4c92f",
      "name": "Restore After Phase Update W2"
    }
  ],
  "pinData": {},
  "connections": {
    "Payment Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format & Validate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format & Validate Message": {
      "main": [
        [
          {
            "node": " Mark Session Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Mark Session Completed": {
      "main": [
        [
          {
            "node": "Restore After Phase Update W2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore After Phase Update W2": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "568ca22b-173d-4bdc-96a5-a0c1cba9d4f1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "disvKr7iVhnNnefuiqJbJ",
  "tags": []
}
