docs/n8n-workflows/pre-deploy-2026-07-14/WhatsApp Insurance Quotation Bot - Payment Confirmation.json
{
    "updatedAt": "2026-05-28T22:45:15.170Z",
    "createdAt": "2026-02-05T00:07:09.917Z",
    "id": "disvKr7iVhnNnefuiqJbJ",
    "name": "WhatsApp Insurance Quotation Bot - Payment Confirmation",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "payment-confirmation",
                "authentication": "headerAuth",
                "options": {
                    "responseCode": {
                        "values": {}
                    },
                    "responseData": "={\n      \"status\": \"received\",\n      \"timestamp\": \"{{ $now.toISO() }}\"\n    }",
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "3fdb2851-71cb-4e93-9c39-40f63d9f0259",
            "name": "Payment Webhook Trigger",
            "webhookId": "8f82eb47-607f-40ef-8389-ee99bd93e3fd",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "VNlbUSCkIzgHFhLc",
                    "name": "Header Auth account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Minimal validation + message formatting\nconst data = $input.first().json;\n\n\n// Normalize Mexican mobile phone number (critical for WhatsApp)\nlet phoneNumber = data.body.phone_number.toString().replace(/\\D/g, ''); // Clean non-digits\n\n// If 13 digits starting with 521 (Mexican mobile with \"1\"), remove the \"1\"\nif (phoneNumber.startsWith('521') && phoneNumber.length === 13) {\n  phoneNumber = '52' + phoneNumber.substring(3); // \"5215551457890\" \u2192 \"525551457890\"\n}\n\n// If 10 digits (no country code), add Mexico code\nif (phoneNumber.length === 10) {\n  phoneNumber = '52' + phoneNumber; // \"5563125678\" \u2192 \"525563125678\"\n}\n\n// Format amount as Mexican Pesos\nconst formattedAmount = new Intl.NumberFormat('es-MX', {\n  style: 'currency',\n  currency: 'MXN'\n}).format(data.body.amount);\n\n// Build WhatsApp message (Spanish, formal tone)\nconst message = `\u00a1Estimado cliente!\n\nSu pago ha sido confirmado exitosamente. \u2705\n\n\ud83d\udccb *P\u00f3liza:* ${data.body.policy_number}\n\ud83d\udcb5 *Monto:* ${formattedAmount}\n\ud83d\udcc5 *Estado:* Activa\n\nGracias por confiar en nosotros. Su p\u00f3liza ya est\u00e1 vigente y lo protege a partir de este momento.\n\nSi tiene alguna duda o requiere asistencia, no dude en contactarnos.\n\nAtentamente,\n_Equipo de Atenci\u00f3n al Cliente_`;\n\n// Return formatted data for WhatsApp node\nreturn {\n  json: {\n    to: phoneNumber,\n    message: message,\n    policy_number: data.body.policy_number,\n    amount: formattedAmount,\n    transaction_id: data.transaction_id,\n    timestamp: new Date().toISOString()\n  }\n};"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                208,
                0
            ],
            "id": "fc649ca7-cfae-4737-bfa1-272e60fb28f4",
            "name": "Format & Validate Message"
        },
        {
            "parameters": {
                "operation": "send",
                "phoneNumberId": "=1028815256982638",
                "recipientPhoneNumber": "={{ $json.to }}",
                "textBody": "={{ $json.message }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1.1,
            "position": [
                816,
                0
            ],
            "id": "6c8f0731-0222-47f5-b868-5844c0ee8c58",
            "name": "Send message",
            "webhookId": "7bb2de5b-40ff-48c0-8e98-5507e5d36040",
            "credentials": {
                "whatsAppApi": {
                    "id": "PbzXr53disA74eew",
                    "name": "WhatsApp Send Message Hylant Account"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE whatsapp_sessions\nSET conversation_phase = 'completed', updated_at = NOW()\nWHERE phone_number = $1\nRETURNING session_id, phone_number, conversation_phase;",
                "options": {
                    "queryReplacement": "={{ $json.to }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                416,
                0
            ],
            "id": "04cffbeb-9a62-4eb5-8e0f-f7e7d6f2650e",
            "name": " Mark Session Completed",
            "credentials": {
                "postgres": {
                    "id": "FbodkhT9DijVcqpB",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const formattedData = $('Format & Validate Message').first().json;\nconst dbResult = $input.first().json;\n\nconsole.log('W2: session marked completed', {\n  sessionId: dbResult.session_id,\n  phone: formattedData.to,\n  phase: dbResult.conversation_phase\n});\n\nreturn [{ json: formattedData }]; // Restore full formatted message for Send WhatsApp Message"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                624,
                0
            ],
            "id": "20eb65d3-89e6-4e31-b674-d833c6e4c92f",
            "name": "Restore After Phase Update W2"
        }
    ],
    "connections": {
        "Payment Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Format & Validate Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format & Validate Message": {
            "main": [
                [
                    {
                        "node": " Mark Session Completed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        " Mark Session Completed": {
            "main": [
                [
                    {
                        "node": "Restore After Phase Update W2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Restore After Phase Update W2": {
            "main": [
                [
                    {
                        "node": "Send message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "568ca22b-173d-4bdc-96a5-a0c1cba9d4f1",
    "activeVersionId": "568ca22b-173d-4bdc-96a5-a0c1cba9d4f1",
    "versionCounter": 108,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-05T00:07:09.920Z",
            "createdAt": "2026-02-05T00:07:09.920Z",
            "role": "workflow:owner",
            "workflowId": "disvKr7iVhnNnefuiqJbJ",
            "projectId": "uC1nZ2QEo2QS2uIO",
            "project": {
                "updatedAt": "2026-02-02T21:29:10.520Z",
                "createdAt": "2026-02-02T21:24:28.222Z",
                "id": "uC1nZ2QEo2QS2uIO",
                "name": "Aguayo Aguayo <alfred@aguayo.co>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
                "projectRelations": [
                    {
                        "updatedAt": "2026-02-02T21:24:28.223Z",
                        "createdAt": "2026-02-02T21:24:28.223Z",
                        "userId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
                        "projectId": "uC1nZ2QEo2QS2uIO",
                        "user": {
                            "updatedAt": "2026-07-13T22:38:17.000Z",
                            "createdAt": "2026-02-02T21:24:27.725Z",
                            "id": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1",
                            "email": "alfred@aguayo.co",
                            "firstName": "Aguayo",
                            "lastName": "Aguayo",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2026-02-02T21:29:38.817Z",
                                "personalization_survey_n8n_version": "2.6.3",
                                "companySize": "20-99",
                                "companyType": "digital-agency",
                                "role": "business-owner",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "userActivated": true,
                                "easyAIWorkflowOnboarded": true,
                                "firstSuccessfulWorkflowId": "CPcP1m8sURQIOAGgCN8s0",
                                "userActivatedAt": 1770237790513,
                                "npsSurvey": {
                                    "responded": true,
                                    "lastShownAt": 1770579287756
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-07-13",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-05-28T22:45:19.000Z",
        "createdAt": "2026-05-28T22:45:15.170Z",
        "versionId": "568ca22b-173d-4bdc-96a5-a0c1cba9d4f1",
        "workflowId": "disvKr7iVhnNnefuiqJbJ",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "payment-confirmation",
                    "authentication": "headerAuth",
                    "options": {
                        "responseCode": {
                            "values": {}
                        },
                        "responseData": "={\n      \"status\": \"received\",\n      \"timestamp\": \"{{ $now.toISO() }}\"\n    }",
                        "responseHeaders": {
                            "entries": [
                                {
                                    "name": "Content-Type",
                                    "value": "application/json"
                                }
                            ]
                        }
                    }
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "3fdb2851-71cb-4e93-9c39-40f63d9f0259",
                "name": "Payment Webhook Trigger",
                "webhookId": "8f82eb47-607f-40ef-8389-ee99bd93e3fd",
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "VNlbUSCkIzgHFhLc",
                        "name": "Header Auth account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "// Minimal validation + message formatting\nconst data = $input.first().json;\n\n\n// Normalize Mexican mobile phone number (critical for WhatsApp)\nlet phoneNumber = data.body.phone_number.toString().replace(/\\D/g, ''); // Clean non-digits\n\n// If 13 digits starting with 521 (Mexican mobile with \"1\"), remove the \"1\"\nif (phoneNumber.startsWith('521') && phoneNumber.length === 13) {\n  phoneNumber = '52' + phoneNumber.substring(3); // \"5215551457890\" \u2192 \"525551457890\"\n}\n\n// If 10 digits (no country code), add Mexico code\nif (phoneNumber.length === 10) {\n  phoneNumber = '52' + phoneNumber; // \"5563125678\" \u2192 \"525563125678\"\n}\n\n// Format amount as Mexican Pesos\nconst formattedAmount = new Intl.NumberFormat('es-MX', {\n  style: 'currency',\n  currency: 'MXN'\n}).format(data.body.amount);\n\n// Build WhatsApp message (Spanish, formal tone)\nconst message = `\u00a1Estimado cliente!\n\nSu pago ha sido confirmado exitosamente. \u2705\n\n\ud83d\udccb *P\u00f3liza:* ${data.body.policy_number}\n\ud83d\udcb5 *Monto:* ${formattedAmount}\n\ud83d\udcc5 *Estado:* Activa\n\nGracias por confiar en nosotros. Su p\u00f3liza ya est\u00e1 vigente y lo protege a partir de este momento.\n\nSi tiene alguna duda o requiere asistencia, no dude en contactarnos.\n\nAtentamente,\n_Equipo de Atenci\u00f3n al Cliente_`;\n\n// Return formatted data for WhatsApp node\nreturn {\n  json: {\n    to: phoneNumber,\n    message: message,\n    policy_number: data.body.policy_number,\n    amount: formattedAmount,\n    transaction_id: data.transaction_id,\n    timestamp: new Date().toISOString()\n  }\n};"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    208,
                    0
                ],
                "id": "fc649ca7-cfae-4737-bfa1-272e60fb28f4",
                "name": "Format & Validate Message"
            },
            {
                "parameters": {
                    "operation": "send",
                    "phoneNumberId": "=1028815256982638",
                    "recipientPhoneNumber": "={{ $json.to }}",
                    "textBody": "={{ $json.message }}",
                    "additionalFields": {}
                },
                "type": "n8n-nodes-base.whatsApp",
                "typeVersion": 1.1,
                "position": [
                    816,
                    0
                ],
                "id": "6c8f0731-0222-47f5-b868-5844c0ee8c58",
                "name": "Send message",
                "webhookId": "7bb2de5b-40ff-48c0-8e98-5507e5d36040",
                "credentials": {
                    "whatsAppApi": {
                        "id": "PbzXr53disA74eew",
                        "name": "WhatsApp Send Message Hylant Account"
                    }
                }
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "UPDATE whatsapp_sessions\nSET conversation_phase = 'completed', updated_at = NOW()\nWHERE phone_number = $1\nRETURNING session_id, phone_number, conversation_phase;",
                    "options": {
                        "queryReplacement": "={{ $json.to }}"
                    }
                },
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.6,
                "position": [
                    416,
                    0
                ],
                "id": "04cffbeb-9a62-4eb5-8e0f-f7e7d6f2650e",
                "name": " Mark Session Completed",
                "credentials": {
                    "postgres": {
                        "id": "FbodkhT9DijVcqpB",
                        "name": "Postgres account"
                    }
                }
            },
            {
                "parameters": {
                    "jsCode": "const formattedData = $('Format & Validate Message').first().json;\nconst dbResult = $input.first().json;\n\nconsole.log('W2: session marked completed', {\n  sessionId: dbResult.session_id,\n  phone: formattedData.to,\n  phase: dbResult.conversation_phase\n});\n\nreturn [{ json: formattedData }]; // Restore full formatted message for Send WhatsApp Message"
                },
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    624,
                    0
                ],
                "id": "20eb65d3-89e6-4e31-b674-d833c6e4c92f",
                "name": "Restore After Phase Update W2"
            }
        ],
        "connections": {
            "Payment Webhook Trigger": {
                "main": [
                    [
                        {
                            "node": "Format & Validate Message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format & Validate Message": {
                "main": [
                    [
                        {
                            "node": " Mark Session Completed",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            " Mark Session Completed": {
                "main": [
                    [
                        {
                            "node": "Restore After Phase Update W2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Restore After Phase Update W2": {
                "main": [
                    [
                        {
                            "node": "Send message",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Aguayo Aguayo",
        "name": "Version 568ca22b",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-05-28T22:45:19.864Z",
                "id": 49,
                "workflowId": "disvKr7iVhnNnefuiqJbJ",
                "versionId": "568ca22b-173d-4bdc-96a5-a0c1cba9d4f1",
                "event": "activated",
                "userId": "3b3b745d-2f52-4aa3-a6c0-4122dca1bdd1"
            }
        ]
    }
}
